<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="product1" class="org.example.Product" scope="prototype">
        <property name="name" value="Laptop"/>
        <property name="price" value="1200.0"/>
    </bean>

    <bean id="product2" class="org.example.Product" scope="prototype">
        <constructor-arg ref="product1"/>
        <constructor-arg value="800.0"/>
    </bean>

    <bean id="product3" class="org.example.Product" scope="singleton">
        <property name="name" value="Tablet"/>
        <property name="price" value="500.0"/>
    </bean>

</beans>